.login-button {
    background-color:$blue;
    border-radius: 3px;
    padding: 20px 40px;
    border: none;
    display: inline-block;
    font-size: 2rem;
    color: white;
    line-height: 1;
    text-size-adjust: 30rem;
    text-decoration: none;
}

.logout-button {
    background: none;
}